html {
  font-family: Lato;
  font-size: 12px;
}

.svg_cont {
  margin-left: 12%;
  margin-right: 8%;
  margin-top: 4%;
}

.slider {
    width: 70%;
    position: relative;
    left: 15%;
    right: 15%;
    bottom: 0;
}

h1#title {
  width: 70%;
  position: absolute;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

#countdown {
  font-size: 80px;
  text-align: center;
}

.legend {
  margin-left: 50px;
}

div.sum_cont {
  margin-top: 25px;
}

h1.sum_cont {
  bottom: 100;
  font-size: 20px;
}

p.sum_cont {
  font-size: 15px;
  bottom: 80;
  text-align: justify;
}

footer {
  position:absolute;
  bottom:0;
  width: 70%;
  left: 15%;
  right: 15%;
  padding-bottom:20px;
}
